[Unit]
Description=Secret Santa Bot
After=network.target

[Service]
User=botuser
WorkingDirectory=/home/bot/secret_santa_bot
ExecStart=/home/bot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
